<%- include('../layouts/header.ejs') %>

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <%- include('../layouts/sidebar.ejs')%>
    <!-- End of Sidebar -->

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <!-- Topbar -->
            <%- include('../layouts/navbar.ejs')%>
            <!-- End of Topbar -->

            <div class="container-fluid">

               

                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Products</h1>
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <a href="/admin/products" class="h5 m-0"><i class="fas fa-angle-left"></i> Go back to product lists</a>
                    </div>
                </div>
                <% if (success_msg.length > 0) { %>
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                      <%= success_msg[0] %>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  <% } %>
                  
                  <% if (error_msg.length > 0) { %>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                      <%= error_msg[0] %>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  <% } %>
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Brand</th>
                                        <th>Name</th>
                                        <th>Created</th>
                                        <th>Restore</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if(products.length>0) { %>
                                        <%products.forEach((p)=>{ %>
                                            <tr>
                                                <td><%=p.brand.name%></td>
                                                <td><%=p.name%></td>
                                            
                                                <td><%=p.createdTime%></td>
                                                <td><a href="/admin/products/restore/<%=p._id%>" class="btn btn-warning">Restore</a></td>
                                                <td>
                                                    <form action="/admin/products/delete" method="post">
                                                        <input type="hidden" name="productId" value="<%= p._id %>">
                                                        <button class="btn btn-danger " type="submit" >Delete</button>
                                                    </form>
                                            
                                                </td>
                                            </tr>
                                        <%})%>
                                    <% }%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../layouts/script.ejs')%>

<script>
    $(document).ready(function() {
        $('#dataTable').DataTable();
    });
</script>

<%- include('../layouts/footer.ejs')%>