<%- include('../layouts/header.ejs') %>

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <%- include('../layouts/sidebar.ejs')%>
    <!-- End of Sidebar -->

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <!-- Topbar -->
            <%- include('../layouts/navbar.ejs')%>
            <!-- End of Topbar -->

            <div class="container-fluid">

               

                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Users</h1>
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <a href="/admin/users" class="h5 m-0"><i class="fas fa-angle-left"></i> Go back to users list</a>
                    </div>
                </div>
                <% if (success_msg.length > 0) { %>
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                      <%= success_msg[0] %>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  <% } %>
                  
                  <% if (error_msg.length > 0) { %>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                      <%= error_msg[0] %>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  <% } %>
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Created</th>
                                        <th>Restore</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <% if(users.length>0) { %>
                                    <%users.forEach((u)=>{ %>
                                        <tr>
                                            <td><%=u.username%></td>
                                            <td><%=u.email%></td>
                                            <td><%=u.createdTime%></td>
                                            <td><a href="/admin/users/restore/<%=u._id%>" class="btn btn-warning">Restore</a></td>
                                            <td>
                                                <form action="/admin/users/delete" method="post">
                                                    <input type="hidden" name="userId" value="<%= u._id %>">
                                                    <button class="btn btn-danger " type="submit" >Delete</button>
                                                </form>
                                        
                                            </td>
                                        </tr>
                                    <%})%>
                                <% }%>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../layouts/script.ejs')%>

<script>
    $(document).ready(function() {
        $('#dataTable').DataTable();
    });
</script>

<%- include('../layouts/footer.ejs')%>